<!DOCTYPE html>
<html>
<head>
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="../static/web.css">
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        <div id="head">
            <a class="logo" href="/main"><img src="../static/logo.png"></a>
            <a class="basketprofile" href="/main"><img src="../static/profile.png"></a>
            
        </div>
        <div id="basketinfo">
            <h1>Корзина</h1>
        </div>
    </form>
</body>
</html>