<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Корзина</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>

        <style>
            body{
                background-image:url("https://wallpaperaccess.com/full/4490438.jpg")
            }
        </style>
       
       
        <div id="cart">
            <h2>
                <font face = "academy engraved let" color = "white" size = "8">
                    Cart
                </font>
            </h2>
            <ul id="cart-items">
                <font face = "academy engraved let" color = "white" size = "4">           
                    <table>
                    
                        {% for item in cart_items %}
                        <tr>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </font>
                <!-- Сюди будуть додаватися товари -->
            </ul>
            <p id="total">
                <font face = "academy engraved let" color = "white" size = "4">
                    Total price: $0.00
                 </font>
            </p>
            <button  class = "button" onclick="іcheckout()">
                <font face = "academy engraved let" color = "white" size = "4">
                    Order
                 </font>
            </button>
        </div>

      
    
        <script src="script.js"></script>
    </body>
    </html>
    
