<!DOCTYPE html>
<html>
<head>
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="../static/web.css">
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        <div id="head">
            <a class="logo" href="/main"><img src="../static/logo.png"></a>
            <a class="basket" href="/main"><img src="../static/basket.png"></a>
            <a class="profile" href="/main"><img src="../static/profile.png"></a>
        </div>
        <div id="info">
            <H1>Товари</H1>
            <div id="items">
                <div id="item">
                    <a href="/product/1"><img src="../static/items/1.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/2"><img src="../static/items/2.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/3"><img src="../static/items/3.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/4"><img src="../static/items/4.webp"></a>
                </div>
            </div>
            <div id="items">
                <div id="item">
                    <a href="/product/5"><img src="../static/items/5.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/6"><img src="../static/items/6.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/7"><img src="../static/items/7.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/8"><img src="../static/items/8.webp"></a>
                </div>
            </div>
            <div id="items">
                <div id="item">
                    <a href="/product/9"><img src="../static/items/9.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/10"><img src="../static/items/10.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/11"><img src="../static/items/11.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/12"><img src="../static/items/12.webp"></a>
                </div>
            </div>
            <div id="items">
                <div id="item">
                    <a href="/product/13"><img src="../static/items/13.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/14"><img src="../static/items/14.webp"></a>
                </div>
                <div id="item">
                    <a href="/product/15"><img src="../static/items/15.jpg"></a>
                </div>
                <div id="item">
                    <a href="/product/16"><img src="../static/items/16.webp"></a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>