<!DOCTYPE html>
<html>
<head>
    <title>Вхід в акаунт</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form method="post">
        <div id="head">
            <img class="logo" src="../static/logo.png">
        </div>
        <div class="main">
            <div id ="blocklogin">


                <h1 class="test">Створити товар</h1><br>
                <label for="name">назва товару:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="description">опис товару:</label><br>
                <input type="text" id="description" name="description" required><br><br>

                <label for="price">ціна:</label><br>
                <input type="text" id="price" name="price" required><br><br>
                <label for="image">шлях до картинки:</label><br>
                <input type="text" id="image" name="image" required><br><br>
                <input class = "button" type="submit" name="value" value="створити">
            </div>
        </div>
    </form>
</body>
</html>
