<!DOCTYPE html>
<html>
<head>
    <title>Акаунт успышно створено</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form action="/login" method="post">
        <div id="head"></div>
        <div class="main">
            <div id ="blockwronglogin">
                <input type="hidden" name="username" username=""> 
                <input type="hidden" name="password" password=""> 
                <h2>Акаунт успішно створено</h2><br>
                <a class = "button" href="/">Увійти </a>
            </div>
        </div>
    </form>
</body>
</html>
