<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="../static/web.css">
</head>
<body>
    <div id="head">
        <a class="logo" href="/main"><img src="../static/logo.png"></a>
        <a class="basket" href="/main"><img src="../static/basket.png"></a>
        <a class="profile" href="/main"><img src="../static/profile.png"></a>
    </div>
    <div id="product_detail">
        <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
        <h1>{{ product.name }}</h1>
        <h2>Ціна: {{ product.price }}</h2>
        <p>{{ product.description }}</p>
    </div>
</body>
</html>