<!DOCTYPE html>
<html>
<head>
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="../static/web.css">
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        <div id="head">
            <a class="logo" href="/main"><img src="../static/logo.png"></a>
            <a class="basketprofile" href="/basket"><img src="../static/basket.png"></a>
            
        </div>
        <div id="profileinfo">
            <img class="profileimg" src="../static/profile.png">
            <h1 class="profiledata">Ваш профіль</h1>
            <h2 class="profiledata">Ім'я користувача: {{username}}</h2>
            <h2 class="profiledata">Пошта користувача: {{mail}}</h2>
            <h2 class="profiledata">Статус користувача: {{status}}</h2>
        </div>
    </form>
</body>
</html>