<!DOCTYPE html>
<html>
<head>
    <title>Вхід в акаунт</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form method="post">
        <div id="head">
            <a class = "button" href="/">Увійти</a> 
        </div>
        <div class="main">
            <div id ="blocklogin">

            
                <h1 class="test">Реєстрація</h1><br>
                <label for="username">Ім'я користувача:</label><br>
                <input type="text" id="username" name="username" required><br><br>

                <label for="username">Пошта:</label><br>
                <input type="text" id="mail" name="mail" required><br><br>

                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <input class = "button" type="submit" name="value" value="Зареєструватися"> 
                
            </div>
        </div>
    </form>
</body>
</html>