<!DOCTYPE html>
<html>
<head>
    <title>Привищено кількість спроб</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        <div id="head"><img class="logo" src="../static/logo.png"></div>
        <div class="main">
            <div id ="blockwronglogin">
                <h2>Привищено кількість спроб</h2><br>

                <a class = "button" href="/">Спробувати ще раз </a>
                
            </div>
        </div>
    </form>
</body>
</html>