<!DOCTYPE html>
<html>
<head>
    <title>Користувач з таким логіном вже існує</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        <div id="head"><img class="logo" src="../static/3.png"></div>
        <div class="main">
            <div id ="blockwronglogin">
                <input type="hidden" name="username" username=""> 
                <input type="hidden" name="password" password=""> 
                <h2>Користувач з таким логіном вже існує</h2><br>
                <a class = "button" href="/">Спробувати ще раз </a>
                
            </div>
        </div>
    </form>
</body>
</html>
